img.avatar {
    border-radius: 50%;
    display: block;
    margin: 20px auto !important;
}
img.normalize {
    display: block;
    margin: 20px auto !important;
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}
.neoteric-logo {
    border: none !important;
    display: block;
    margin: 20px auto !important;
    background: transparent !important;
    box-shadow: none !important;
    bottom: 20px;
}
.inverse {
    background-color: black;
    padding: 15px !important;
    display: inline;
}